body{
	font-style: italic;
	font-family: sans-serif;
}
.container-fluid{
text-align: center;
background-image: url(../images/landing.jpg);
background-size: cover;
padding:90px;

}
.container-fluid p{
	color: blue;
	font-size: 30px;
}
.row{
	   margin: 0;
	   padding: 0;
	 text-align: center;
	background-color: white;
}
}
#party{
	color: red;
}
#happy{
	   margin: 0;
	   padding: 0;
	 text-align: center;
	background-color: white;
	
	padding: 40px;
}
#breakfast img{
	   margin: 0;
	   padding: 0;
	 text-align: center;
	background-color: white;
	
	
}
#lunch img{
	   margin: 0;
	   padding: 0;
	 text-align: center;
	background-color: white;
	
}
#lunch p{
	text-align: center;
}
#dinner img{
	   margin: 0;
	   padding: 0;
	 text-align: center;
	background-color: white;
	
}
.row{
	   margin: 0;
	   padding: 0;
	 text-align: center;
	background-color: white,
	
}

.container-fa{
	background: url(../images/foodsBg.jpg);
	padding: 90px;
}
.container-fa img{
	padding: auto;
	margin: auto;
	border-style: solid;
}
.container-fa p{
	color: red;
	   padding: 0;
	 text-align: center;
	background-color: white;
}
#btn4{
	   padding: 0;
	 text-align: center;
	background-color: white;
}
#btn3{
	   padding: 0;
	 text-align: center;
	background-color: white;
}
#btn2{
	   padding: 0;
	 text-align: center;
	background-color: white;
}
#btn1{
	   padding: 0;
	 text-align: center;
	background-color: white;
}
#btn {
	color: blue;
}
#background{
	background: url(../images/subscribe.jpg);
	padding: 90px;
	float: right;
}
#background p{
	text-align: center;
	color: red;
}
#inputfield{
	
	   padding: 0;
	 text-align: center;
	background-color: white;
}
#subscribe{
	   padding: 0;
	 text-align: center;
	background-color: white;
}
.footer{
	background-color: orange;
	padding: 90px;
	text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: black;
        color: white;
    }
}
@media screen and (min-width: 768px) {
  body {
    background-color: yellowgreen;
  }
}
  
